.burger {
  $size: 50px;
  height: $size;
  width: $size;
  position: relative;
  $offsetY: 7px;
  background: none;
  border: none;
  outline: none;
  z-index: 50;

  .bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #232323;
    left: 0;
    transition: transform 1s ease;

    &.bar-1 {
      transform: translate3d(0, -$offsetY, 0);
    }

    &.bar-2 {
      transform: translate3d(0, $offsetY, 0);
    }
  }

  &:hover {
    .bar-1 {
      transform: translate3d(0, -$offsetY, 0) rotate(-180deg);
    }

    .bar-2 {
      transform: translate3d(0, $offsetY, 0) rotate(-180deg);
    }

    &.active {
      .bar-1 {
        transform: translate3d(0, 14px, 0) rotate(-495deg);
      }

      .bar-2 {
        transform: translate3d(0, 14px, 0) rotate(-45deg);
      }
    }
  }

  &.active {
    .bar {
      transition: transform 600ms ease;
    }

    .bar-1 {
      transform: translate3d(0, 14px, 0) rotate(-675deg);
    }

    .bar-2 {
      transform: translate3d(0, 14px, 0) rotate(-225deg);
    }
  }

  @media (min-width: 1200px) {
    display: none;
  }
}